/* aclonica-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Aclonica';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/aclonica-v18-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('../fonts/aclonica-v18-latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "";
}
body{
  /*  background-color: rgb(241, 223, 175); */
  background-image: url("./images/tyler-lastovich-1755wsQzce8-unsplash.jpg");
  background-repeat: no-repeat;
  background-size:  100%;
}
h1{
  text-align: center;
  font-size: 50px;
  margin-top: 50px;
}
.wrapper {
    width: 90%;
    font-size: 16px;
    max-width: 900px;
    margin: 1em auto;
}
.container {
    width: 100%;
}
.sub-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3em;
}
.flex {
    display: flex;
    align-items: center;
}
.flex-space {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px;
  }
  .wrapper h3 {
    color: rgb(57, 11, 241);
    font-weight: 500;
    margin-bottom: 0.6em;
  }
  .wrapper h2 {
    color: rgb(223, 220, 238);
    font-weight: 500;
    margin-bottom: 0.6em;
  }
  .container input {
    display: block;
    width: 100%;
    padding: 0.6em 0.3em;
    border: 1px solid #d38080;
    border-radius: 0.3em;
    color: rgb(11, 31, 49);
    outline: none;
    font-weight: 400;
    margin-bottom: 0.6em;
  }
  .container input:focus {
    border-color: #68d368;
  }
  .total-amount-container,
  .user-amount-container {
    background-color: #ffffff;
    padding: 1.25em 0.9em;
    border-radius: 0.5em;
    box-shadow: 0 0.6em 1.2em rgba(28, 0, 80, 0.06);
    margin: 2em 0;
    padding: 1.2em;
  }
  .output-container p {
    font-weight: 500;
    margin-bottom: 0.6em;
  }
  .output-container span {
    display: block;
    text-align: center;
    font-weight: 400;
    color: #911b1b;
  }
  .submit {
    font-size: 1em;
    margin-top: 0.8em;
    background-color: #1f2c09;
    border: none;
    outline: none;
    color: #ffffff;
    padding: 0.6em 1.2em;
    border-radius: 0.3em;
    cursor: pointer;
  }
  .list {
    background-color: #5b752e;
    padding: 1.8em 1.2em;
    box-shadow: 0 0.6em 1.2em rgba(28, 0, 80, 0.06);
    border-radius: 0.6em;
  }
  .sublist-content {
    width: 100%;
    border-left: 0.3em solid #18d641;
    margin-bottom: 0.3em;
    padding: 0.5em 1em;
    display: grid;
    grid-template-columns: 3fr 2fr 1fr 1fr;
  }
  .product {
    font-weight: 500;
    color: #e5e9f5;
    font-size: 30px;
  }
  .amount {
    color: white;
    margin-left: 30%;
  }
  .icons-container {
    width: 5em;
    margin: 1.2em;
    align-items: center;
  }
  .product-title {
    margin-bottom: 1em;
  }
  .hide {
    display: none;
  }
  .error {
    color: #ff465a;
  }
  .edit,
  .delete {
    background: transparent;
    cursor: pointer;
    margin-right: 1.5em;
    border: none;
    color: #eaedf5;
  }
  @media screen and (max-width: 600px) {
    .wrapper {
      font-size: 14px;
    }
    .sub-container {
      grid-template-columns: 1fr;
      gap: 1em;
    }
  }
  


































